@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: #3dd465;
  color: #eef2f0;
  padding: 10px;
}

body {
  font-family: 'Manjari', sans-serif;
  background-color: #232528;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #3dd465;
  color: #eef2f0;
  padding: 5px;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.welcome {
  display: flex;
  justify-content: center;
  color: #eef2f0;
  padding: 20px;
}

.footerDesc {
  margin-left: 5px;
}

.footerVersion {
  margin-right: 5px;
}
